version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8888:8888"
    env_file:
      - .env
    environment:
      - PORT=8888
      - NODE_ENV=production
    restart: unless-stopped
    networks:
      - crowdfunding-network

networks:
  crowdfunding-network:
    driver: bridge
